services:
  - type: web
    name: safechat-backend
    env: docker
    region: singapore
    plan: free
    rootDir: backend
    dockerfilePath: Dockerfile
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.12
