fastapi
python-dotenv
uvicorn
# transformers
# torch
# openai-whisper
sqlmodel
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
email-validator
# opencv-python-headless
deep-translator
Pillow
