fastapi
pydantic-settings
python-dotenv
uvicorn
python-multipart
sqlmodel
psycopg2-binary
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
email-validator
firebase-admin
slowapi
deep-translator
certifi
requests
pillow
google-generativeai
websockets
argon2-cffi==23.1.0
